<div class="container admin mt-2">
  <div class="row mt-3">
    <div class="col-md-4">
      <div
        class="card hover"
        data-toggle="modal"
        data-target="#show-users-modal"
      >
        <div class="card-body text-center">
          <div class="custom-brand">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <h1>Users</h1>
          <a href="/user-list" class="btn btn-primary btn-custom-link">
            CLICK HERE TO VIEW All USERS
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div
        class="card hover"
        data-toggle="modal"
        data-target="#show-policies-modal"
      >
        <div class="card-body text-center">
          <div class="custom-brand">
            <span class="glyphicon glyphicon-th-large"></span>
          </div>
          <h1>Policies</h1>
          <a href="/policy-list" class="btn btn-primary btn-custom-link">
            CLICK HERE TO VIEW All POLICIES
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div
        class="card hover"
        data-toggle="modal"
        data-target="#show-policies-modal"
      >
        <div class="card-body text-center">
          <div class="custom-brand">
            <span class="glyphicon glyphicon-usd"></span>
          </div>
          <h1>Purchases</h1>
          <a href="/transaction-list" class="btn btn-primary btn-custom-link">
            CLICK HERE TO VIEW All PURCHASES
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container admin mt-2">
  <div class="row mt-3">
    <div class="col-md-4">
      <div
        class="card hover"
        data-toggle="modal"
        data-target="#show-admins-modal"
      >
        <div class="card-body text-center">
          <div class="custom-brand">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <h1>Admins</h1>
          <a href="/admin-list" class="btn btn-primary btn-custom-link">
            CLICK HERE TO VIEW All ADMINS
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
