<div class="container">
  <div class="row gutters">
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h5 class="mb-2 text-primary">Personal Details</h5>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="fullName">First Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter first name" value="{{ currentUser.firstName }}" readonly>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="fullName">Last Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter last name" value="{{ currentUser.lastName }}" readonly>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="eMail">Email</label>
            <input type="email" class="form-control" id="eMail" placeholder="Enter email ID" value="{{ currentUser.userName }}" readonly>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone number" value="{{ currentUser.mobileNo }}" readonly>
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h5 class="mt-3 mb-2 text-primary">Address</h5>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="ciTy">City</label>
            <input type="name" class="form-control" id="ciTy" placeholder="Enter City" value="{{ currentUser.city }}" readonly>
          </div>
        </div>
      </div>
      <br>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="editUserRequest(currentUser)">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>




<!--========================================
    userModal -- Update User Details
  =========================================-->
<div
  class="modal fade"
  id="userModal"
  #userModal
  tabIndex="-1"
  role="dialog"
  aria-labelledby="userModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        name="form-user-update"
        (ngSubmit)="f.form.valid && updateUser()"
        #f="ngForm"
        novalidate
      >
        <div class="modal-header">
          <h5 class="modal-title">User Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" *ngIf="errorMessage">
            <strong>Error!</strong> {{ errorMessage }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--======================================= First Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !firstName.valid }"
          >
            <label for="name">First Name</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="firstName"
              name="firstName"
              [(ngModel)]="selectedUser.firstName"
              #firstName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">
              An valid name is required.
            </div>
          </div>
          <!--======================================== Last Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !lastName.valid }"
          >
            <label for="name">Last Name</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="lastName"
              name="lastName"
              [(ngModel)]="selectedUser.lastName"
              #lastName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">
              An valid name is required.
            </div>
          </div>
          <!--======================================== User Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !userName.valid }"
          >
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="userName"
              name="userName"
              [(ngModel)]="selectedUser.userName"
              #userName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !userName.valid" class="help-block">
              An valid username is required.
            </div>
          </div>
          <!--======================================== Mobile No=========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !mobileNo.valid }"
          >
            <label for="username">Mobile No.</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="mobileNo"
              name="mobileNo"
              [(ngModel)]="selectedUser.mobileNo"
              #mobileNo="ngModel"
              required
            />
            <div *ngIf="f.submitted && !mobileNo.valid" class="help-block">
              An valid mobile No is required.
            </div>
          </div>

          <!--========================================City=========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !city.valid }"
          >
            <label for="username">City</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="city"
              name="city"
              [(ngModel)]="selectedUser.city"
              #city="ngModel"
              required
            />
            <div *ngIf="f.submitted && !city.valid" class="help-block">
              An valid City Name is required.
            </div>
          </div>
          <!--======================================== Password =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !password.valid }"
          >
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control input-text-custom"
              id="password"
              name="password"
              [(ngModel)]="selectedUser.password"
              #password="ngModel"
              required
            />
            <div *ngIf="f.submitted && !password.valid" class="help-block">
              Password is required.
            </div>
          </div>
        </div>
        <!--======================================== footer =========================================-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
