<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container">
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse"></div>
  </div>
</nav>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h2 class="display-4">About us</h2>
        <p class="lead text-muted mb-0" style="text-align: justify">
          <strong>
            The insurance company stipulates that an individual or business
            periodically pay them a specific amount of money as premium for the
            availing and maintenance of their insurance policy and coverage.
            Insurance companies consider many factors while determining the
            premiums, particularly in case of life insurance. These include the
            chances of claims being made by the policyholder, medical
            conditions, smoking and other lifestyle habits, area of residence,
            nature of employment and so on. There are actuaries tapped by
            insurers for working out the chances of claims being made by the
            insured individual for critical ailments or life-threatening
            diseases like cancer/heart attacks across multiple age groups. The
            higher the risks linked to the individual, the higher will be the
            premium for life insurance. Premiums can be paid through monthly,
            half-yearly or even annual installments. Customers can also pay the
            entire amount as a one-time payment for the whole policy term prior
            to the commencement of coverage in some cases. The insurance premium
            is what insurance companies make use of when it comes to ensuring
            coverage for all liabilities linked to the policy. The premium may
            also be invested by the insurance company in securities for earning
            returns and covering some of the costs tied to the coverage.
          </strong>
        </p>
        <br />
        <!--
        <p class="lead text-muted">
          Developed by
          <a href="https://www.linkedin.com/in/hrishikeshl/" class="text-muted">
            <u>Hrishikesh H. Lotekar</u></a
          >
        </p>
      --></div>
      <div class="col-lg-6 d-none d-lg-block">
        <img
          src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Vision: The purpose of our existence</h2>
        <p class="font-italic text-muted mb-4">
          To build an enduring institution that serves the protection and
          long-term saving needs of customers with sensitivity.
        </p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
          >Learn More</a
        >
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Values: The way we do things</h2>
        <p class="font-italic text-muted mb-4">
          Our core values are Customer First, Humility, Passion, Integrity, and
          Boundarylessness. Values guide our actions and define the way we work.
          We encourage all our colleagues to exemplify and role model the
          Values.
        </p>
        <ul class="reason mb20">
          <li class="font-italic text-muted mb-4">
            <b>Customer First:&nbsp;</b>Keep customers at the center of
            everything we do
          </li>
          <li class="font-italic text-muted mb-4">
            <b>Humility:&nbsp;</b>Be open to learn and change
          </li>
          <li class="font-italic text-muted mb-4">
            <b>Passion:&nbsp;</b>Demonstrate infectious energy to win and excel
          </li>
          <li class="font-italic text-muted mb-4">
            <b>Integrity:&nbsp;</b>Do the right thing
          </li>
          <li class="font-italic text-muted mb-4">
            <b>Boundarylessness:&nbsp;</b>Treat organisation agenda as paramount
          </li>
        </ul>

        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">
          This Application is Developed in Angular with Spring Boot
        </p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h4 class="mb-0">Hrishikesh H. Lotekar</h4>
          <span class="small text-uppercase text-muted"
            >Associate Engineer - Technology
          </span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a
                href="https://www.linkedin.com/in/hrishikeshl/"
                class="social-link"
              >
                <fa-icon style="color: blue" [icon]="faLinkedin"></fa-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/hrishi12145" class="social-link">
                <fa-icon style="color: black" [icon]="faGithub"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</div>

<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">
      &copy; Copyrights Company.com All rights reserved.
    </p>
  </div>
</footer>
