<div class="container">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Error!</strong> {{ errorMessage }}
  </div>
  <div class="alert alert-success" *ngIf="infoMessage">
    <strong>Successful!</strong> {{ infoMessage }}
  </div>

  <div class="product-container">
    <div class="card">
      <div class="card-header">
        <div class="row" style="text-align: right; color: #0053ee">
          Insurance Policies
          <div class="col col-xs-6" style="text-align: right; color: #0053ee">
            <div>
              <app-search></app-search>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card" style="width: 18rem" *ngFor="let item of obs | async">
        <div class="custom-brand">
          <span class="glyphicon glyphicon-picture"></span>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ item.policyName }}</h4>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">Rs {{ item.price }} /-</p>
          <a
            class="btn btn-primary btn-custom-link"
            (click)="purchasePolicy(item)"
            >Buy
          </a>
          <a class="btn btn-secondary btn-custom-link" (click)="detail(item)"
            >Detail</a
          >
        </div>
      </div>
    </div>

    <mat-paginator
      [pageSizeOptions]="[20, 30, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
