<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1 data-aos="fade-up">Let's find you the Best Insurance</h1>
        <h3 data-aos="fade-up" data-aos-delay="400">
          When you buy insurance from us, you get more than just financial
          safety. You also get: our promise of simplifying complex insurance
          terms and conditions, quick stress-free claims, instant quotes from
          top insurers and being present for you in the toughest of times.
        </h3>
        <div data-aos="fade-up" data-aos-delay="800">
          <a href="/home" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <img src="assets/imgs/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<br />
<br />
<br />
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>
