<div class="container custom-container">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Error!</strong> {{ errorMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" *ngIf="infoMessage">
    <strong>Successful!</strong> {{ infoMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row" style="text-align: right; color: #0053ee">
        All Users Details
        <div class="col col-xs-6" style="text-align: right; color: #0053ee">
          <div>
            <div class="form-header">
              <input
                #myInput
                type="text"
                placeholder="Search"
                class="au-input au-input-xl"
                (keyup.enter)="doSearch(myInput.value)"
              />
              <button (click)="doSearch(myInput.value)" class="au-btn-submit">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="dataSource">
    <div class="card">
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              First Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.firstName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element">
              {{ element.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Mobile No.
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.mobileNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let element">{{ element.city }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <td mat-cell *matCellDef="let element" style="width: 140px">
              <a
                class="btn btn-warning custom-btn-link"
                (click)="editUserRequest(element)"
                ><em class="glyphicon glyphicon-pencil"></em
              ></a>
              <a
                class="btn btn-danger custom-btn-link"
                (click)="deleteUserRequest(element)"
                ><em class="glyphicon glyphicon-trash"></em
              ></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[50, 100, 150]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>

<!--========================================
    userModal -- Update User Details
  =========================================-->
<div
  class="modal fade"
  id="userModal"
  #userModal
  tabIndex="-1"
  role="dialog"
  aria-labelledby="userModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        name="form-user-update"
        (ngSubmit)="f.form.valid && updateUser()"
        #f="ngForm"
        novalidate
      >
        <div class="modal-header">
          <h5 class="modal-title">User Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" *ngIf="errorMessage">
            <strong>Error!</strong> {{ errorMessage }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--======================================= First Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !firstName.valid }"
          >
            <label for="name">First Name</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="firstName"
              name="firstName"
              [(ngModel)]="selectedUser.firstName"
              #firstName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">
              An valid name is required.
            </div>
          </div>
          <!--======================================== Last Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !lastName.valid }"
          >
            <label for="name">Last Name</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="lastName"
              name="lastName"
              [(ngModel)]="selectedUser.lastName"
              #lastName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">
              An valid name is required.
            </div>
          </div>
          <!--======================================== User Name =========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !userName.valid }"
          >
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="userName"
              name="userName"
              [(ngModel)]="selectedUser.userName"
              #userName="ngModel"
              required
            />
            <div *ngIf="f.submitted && !userName.valid" class="help-block">
              An valid username is required.
            </div>
          </div>
          <!--======================================== Mobile No=========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !mobileNo.valid }"
          >
            <label for="username">Mobile No.</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="mobileNo"
              name="mobileNo"
              [(ngModel)]="selectedUser.mobileNo"
              #mobileNo="ngModel"
              required
            />
            <div *ngIf="f.submitted && !mobileNo.valid" class="help-block">
              An valid mobile No is required.
            </div>
          </div>

          <!--========================================City=========================================-->
          <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !city.valid }"
          >
            <label for="username">City</label>
            <input
              type="text"
              class="form-control input-text-custom"
              id="city"
              name="city"
              [(ngModel)]="selectedUser.city"
              #city="ngModel"
              required
            />
            <div *ngIf="f.submitted && !city.valid" class="help-block">
              An valid City Name is required.
            </div>
          </div>
          <!--======================================== Password =========================================-->
          <!-- <div
            class="form-group"
            [ngClass]="{ 'has-error': f.submitted && !password.valid }"
          >
            <label for="password">Password</label>
            <input
              readonly
              type="password"
              class="form-control input-text-custom"
              id="password"
              name="password"
              [(ngModel)]="selectedUser.password"
              #password="ngModel"
              required
            />
            <div *ngIf="f.submitted && !password.valid" class="help-block">
              Password is required.
            </div>
          </div> -->
        </div>
        <!--======================================== footer =========================================-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--========================================
    deleteModal -- Delete User Details
  =========================================-->
<div
  class="modal fade"
  id="deleteModal"
  #deleteModal
  tabIndex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete <strong>{{ selectedUser.firstName }}</strong
        >?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">
          I'm sure.
        </button>
      </div>
    </div>
  </div>
</div>
