<div class="container custom-container">

  <table class="table table-bordered" style="font-family: 'Arial Narrow Bold'; color: rgb(7, 75, 177);" >
    <thead>
      <tr>
        <th>Policy Id</th>
        <th>Policy Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ policyId }}</td>
        <td>{{ currentPolicy.policyName }}</td>
        <td>{{ currentPolicy.description }}</td>
        <td>Rs {{ currentPolicy.price }} /-</td>
      </tr>
    </tbody>
  </table>
</div>
